[submodule "deps/limonp"]
	path = deps/limonp
	url = https://github.com/yanyiwu/limonp.git
[submodule "deps/cppjieba"]
	path = deps/cppjieba
	url = https://github.com/yanyiwu/cppjieba.git
[submodule "deps/python-jieba"]
	path = deps/python-jieba
	url = https://github.com/fxsjy/jieba.git
[submodule "deps/jieba-rs"]
	path = deps/jieba-rs
	url = https://github.com/messense/jieba-rs.git
